version: 2.1

commands:
  save_test_results:
    description: Collect and archive test results from `dir`.
    parameters:
      dir:
        type: string
        default: ~/testresults
    steps:
      - store_test_results:
          path: << parameters.dir >>
      - store_artifacts:
          path: << parameters.dir >>
  go_mod_download:
    description: Download go modules required by the project
    steps:
      - restore_cache:
          key: v1-go-mod-{{ checksum "go.mod" }}-{{ checksum "go.sum" }}
      - run:
          name: Install dependencies
          command: |
            [[ -d /go/pkg/mod/cache ]] && exit 0
            # retry up to 3 times in case of network issues
            for i in $(seq 1 3); do
                go mod download && exit 0
                sleep 10
            done
            exit 1
      - save_cache:
          key: v1-go-mod-{{ checksum "go.mod" }}-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
  persists_regions:
    description: Persists a file with supported regions to a workspace
    steps:
      - persist_to_workspace:
          root: bin
          paths:
            - ./regions
  restore_bin:
    description: Restores the bin directory previously persisted in a workspace
    steps:
      - run: mkdir bin
      - attach_workspace:
          at: bin

orbs:
  aws-cli: circleci/aws-cli@1.4.0

jobs:
  test:
    docker:
      - image: circleci/golang:1.15.5
    steps:
      - checkout
      - go_mod_download
      - run:
          name: Run tests
          command: |
            mkdir ~/testresults
            (cd /tmp; GO111MODULE=on go get gotest.tools/gotestsum)
            CGO_ENABLED=0 gotestsum --format short-verbose --junitfile ~/testresults/unit.xml --raw-command -- go test --json -p 4 ./...
      - save_test_results
  package:
    docker:
      - image: circleci/golang:1.15.5
    steps:
      - checkout
      - go_mod_download
      - run:
          name: Package the Extension
          command: make
      - persist_to_workspace:
          root: bin
          paths:
            - ./*.zip
  publish_layer_version:
    executor: aws-cli/default
    steps:
      - aws-cli/setup
      - checkout
      - restore_bin
      - run:
          name: Publish layer version
          command: make add-layer-version
      - run:
          name: List layer versions
          command: |
            mkdir ~/versions
            make list-layer-versions | tee ~/versions/layers
      - persists_regions
      - store_artifacts:
          path: bin/regions
      - store_artifacts:
          path: ~/versions
  make_layer_version_public:
    executor: aws-cli/default
    steps:
      - aws-cli/setup
      - checkout
      - restore_bin
      - run:
          name: Add global permission to layer version
          command: make add-layer-version-permission

workflows:
  workflow:
    jobs:
      - test
      - package
      - publish_layer_version:
          filters:
            branches:
              only: master
          requires:
            - test
            - package
      - confirm_making_public:
          type: approval
          requires:
            - publish_layer_version
      - make_layer_version_public:
          requires:
            - publish_layer_version
            - confirm_making_public
